@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

/*----------------------------*/

::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #BAE8E8; 
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #BAE8e9; 
}

/*----------------------------*/

h1 {
    font-family: "Homemade Apple", cursive;
}

h2, h4, p, a {
    font-family: "Raleway", sans-serif;
}

h5 {
    font-family: "Raleway", sans-serif;
    font-style: oblique;
    text-align: right;
    margin: 5px;
}

/*----------------------------*/

header {
    margin: 0px;
    padding: 0px;
    background-image: url(/contact-page/images/header\ bg.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 60%;
}

.navigationBar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s;
}
.navigationBar.scrolled {
    background-color: #FFFFFF;
    color: #272343;
}
.navigationBar a {
    transition: color 0.3s;
}
.navigationBar a.scrolled-link {
    color: #000000; /* Change to black when scrolled */
}
.navigationBar a.scrolled-link:hover {
    color: #FFFFFF;
}
nav {
    height: 60px;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
}
.selected {
    background-color: #BAE8E8;
    color: #272343;
}
.hover:hover {
    background-color: #272343;
    color: #FFFFFF;
}
nav .home-link {
    margin-right: auto;
}
nav svg {
    fill: #FFFFFF;
    transition: fill 0.3s;
}
nav svg.scrolled-svg {
    fill: #272343; /* Change to black when scrolled */
}
#sidebar-active {
    display: none;
}
.open-sidebar-button, .close-sidebar-button {
    display: none;
}
@media (max-width: 768px) {
    .links-container {
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: #2D9596;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2);
        transition: 0.5s ease-out;
    }
    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 15px 30px;
        justify-content: flex-start;
    }
    .open-sidebar-button, .close-sidebar-button {
        padding: 20px;
        display: block;
        cursor: pointer;
    }
    #sidebar-active:checked ~ .links-container {
        right: 0;
    }
    .selected {
        background-color: #FFFFFF;
    }
    #sidebar-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}

/*---------------------------------*/
/*LANDING PAGE*/

#titlePage {
    display: block; 
    text-align: center;
    margin: 0;
}

#titlePage.hidden {
    display: none; 
}

#titlePage h1 {
    border: 1px solid #FFFFFF;
    padding: 10px 80px 3px 80px;
    color: #FFFFFF;
    font-size: 60px;
    margin-bottom: 0px;
    font-weight: 400;
    font-style: normal;  
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
    #titlePage h1 {
        font-size: 42px;
    }
}
/*----------------------------*/

main {
    border-top: 30px solid #BAE8E8;
    border-bottom: 30px solid #BAE8E8;;
}

/*----------------------------*/
/*CONTACT DETAILS AND FORM*/

.contact {
    margin-top: 5%;
}

.contact h2 {
    text-align: center;
}
.section {
    float: left;
    width: 45%;
    margin-left: 4%;
    padding: 30px 70px 50px 70px;
}
#color {
    text-align: center;
}
.section p {
    padding: 0px 20px;
    font-size: 18px;
}
.section img {
    padding: 20px 0px;
    width: 100%;
    height: 40%;
}
.socials {
    display: flex;
    justify-content: center;
    margin-top: 2px;
    padding: 10px 20px;
}
.socials a {
    color: #272343;
    border: 1px solid #272343;
    display: block;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
}
.socials a:hover {
    background-color: #272343;
    color: #FFFFFF;
}

.contact .socials a {
    color: #272343;
    border: 1px solid #272343;
}
.contact .socials a:hover {
    background-color: #272343;
    color: #FFFFFF;
}
label {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #272343;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #BAE8E8;
    color: #272343;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #272343;
    color: #FFFFFF;
}
.details:after{
    content: "";
    display: table;
    clear: both;
}
@media (max-width:768px) {
    .section, input[type=submit] {
      width: 80%;
      margin-top: 0;
      margin-left: 10%;
    }
    .section img {
        padding: 0px 0px;
    }
    .section {
        padding-bottom: 10px;
        padding-top: 10px ;
    }
    .contact {
        margin-bottom: 70px;
    }
}
/*----------------------------*/

.pageBreak {
    padding: 100px 0px 0px 0px;
    background-image: url(/contact-page/images/pagebreak.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
}

/*----------------------------*/
.faqs {
    padding: 5% 15%;
    margin-bottom: 30px ;
}

.faqs h2 {
    text-align: center;
}

.question {
    margin: 5px;
    background-color: #E3F6F5;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

  
.active, .question:hover {
    background-color: #BAE8E8; 
    color: #272343;
}
  
.answer {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

/*----------------------------*/

footer {
    margin: 0px;
    padding: 40px 80px 20px 0px;
    background-color: #E3F6F5;
    text-align: center;
}

.footerInfo {
    display: inline-block;
    margin: 0% 3%;
    width: 25%;
    vertical-align: top;
    text-align: left;
}

.footerInfo a {
    text-decoration: none;
    color: #272343;
}

.footerInfo img {
    width: 200px;
    margin: 0%;
}
.footerInfo .socials {
    display: flex;
    justify-content: left;
    margin-top: 2px;
}
.footerInfo .socials a {
    border: 1px solid #FFFFFF;
    }
  
.footerInfo .socials a:hover {
    background-color: #272343;
    color: #FFFFFF;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rightcopy {
    margin-left: 40px ;
}

@media (max-width: 768px) {
    .footerInfo img {
            width: 80%;
    }
    .copyright p {
        font-size: 12px;
    }
    .footerInfo .socials a {
        border: none;
    }
}
/*----------------------------*/