@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

/*----------------------------*/

::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #BAE8E8; 
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #BAE8e9; 
}

/*----------------------------*/

h1 {
    font-family: "Homemade Apple", cursive;
}

h4, p, a {
    font-family: "Raleway", sans-serif;
}

h5 {
    font-family: "Raleway", sans-serif;
    font-style: oblique;
    text-align: right;
    margin: 5px;
}

/*----------------------------*/

header {
    margin: 0px;
    padding: 0px;
    background-image: url(/blog-page/images/blog\ page\ -\ bg.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 60%;
    border-bottom: 30px solid #FFFFFF;
}

nav {
    list-style-type: none;
    padding: 0px 30px 0px 10px;
    overflow: hidden;
    background:none;
}
nav #left {
    margin: 0px 20px;
    padding: 0px;
    float: left;
}
nav #right {
    float: right;
}
nav a {
    padding: 10px 10px 10px 10px;
    margin: 12px 12px 0px 15px;
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
}
nav #right:hover {
    background-color: #272343;
    color: #FFFFFF;
}
nav a img {
    width: 80px;
}
.selected {
    background-color: #BAE8E8;
    color: #272343;
}
.navigationBar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s;
}

.navigationBar.scrolled {
    background-color: #FFFFFF;
}

.navigationBar a {
    transition: color 0.3s;
}

.navigationBar a.scrolled-link {
    color: #000000; /* Change to black when scrolled */
}

#titlePage {
    display: block; 
    text-align: center;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#titlePage.hidden {
    display: none; 
}

#titlePage h1 {
    border: 1px solid #272343;
    padding: 10px 80px 3px 80px;
    color: #FFFFFF;
    font-size: 60px;
    margin-bottom: 0px;
    font-weight: 400;
    font-style: normal;  
}
/*----------------------------*/

main {
    border-top: 30px solid #BAE8E8;
    border-bottom: 30px solid #BAE8E8;;
}

/*----------------------------*/
/*CONTACT DETAILS AND FORM*/

.contact {
    border: 1px solid #BAE8E8;
}
.contact h2 {
    text-align: center;
}
.section {
    float: left;
    width: 45%;
    margin-left: 40px;
    padding: 30px 70px 50px 70px;
}
#color {
    background-color: #BAE8E8;
    text-align: center;
}
.section p {
    padding: 0px 20px;
    font-size: 18px;
}
.section img {
    padding: 20px 0px;
    width: 100%;
    height: 40%;
}
.socials {
    display: flex;
    justify-content: center;
    margin-top: 2px;
    padding: 10px 20px;
}
.socials a {
    color: #272343;
    border: 1px solid #FFFFFF;
    display: block;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
}
.socials a:hover {
    background-color: #FFFFFF;
}
label {
    font-size: 18px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #272343;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #BAE8E8;
    color: #272343;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #272343;
    color: #FFFFFF;
}
.details:after{
    content: "";
    display: table;
    clear: both;
}
/*----------------------------*/

/*----------------------------*/

footer {
    border-top: 30px solid #FFFFFF;
    margin: 0px;
    padding: 40px 80px 20px 0px;
    background-color: #E3F6F5;
    text-align: center;
}

.footerInfo {
    display: inline-block;
    margin: 0% 3%;
    width: 25%;
    vertical-align: top;
    text-align: left;
}
.footerInfo .socials {
    display: flex;
    justify-content: left;
    margin-top: 2px;
}
.footerInfo .socials a {
        border: 1px solid #FFFFFF;
}
  
.footerInfo .socials a:hover {
        background-color: #FFFFFF;
}

.footerInfo a {
    text-decoration: none;
    color: #272343;
}

.footerInfo img {
    width: 70%;
    margin: 0%;
}

.copyright {
    margin: 60px 0px 0px 80px;
    text-align: left;
}

.copyright span {
    float: right;
}

/*----------------------------*/

@media screen and (max-width: 600px) {
    .section, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }