@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

/*----------------------------*/
/*CUSTOM SCROLLBAR*/

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #BAE8E8; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #BAE8e9; 
  }


/*----------------------------*/

h1, h2 {
    font-family: "Homemade Apple", cursive;
}

h4, p, a, li {
    font-family: "Raleway", sans-serif;
}

/*----------------------------*/

header {
    margin: 0px;
    padding: 0px;
    background-image: url(/about-page/images/bg.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 60%;
}

nav {
    list-style-type: none;
    padding: 0px 30px 0px 10px;
    overflow: hidden;
    background:none;
}
nav #left {
    margin: 0px 20px;
    padding: 0px;
    float: left;
}
nav #right {
    float: right;
}
nav a {
    padding: 10px 10px 10px 10px;
    margin: 12px 12px 0px 15px;
    text-decoration: none;
    font-size: 16px;
    color: #272343;
}
nav #right:hover {
    background-color: #272343;
    color: #FFFFFF;
}
nav a img {
    width: 80px;
}
.selected {
    background-color: #BAE8E8;
    color: #272343;
}
.navigationBar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s;
}

.navigationBar.scrolled {
    background-color: #FFFFFF;
}

#titlePage {
    display: block; 
    text-align: center;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#titlePage.hidden {
    display: none; 
}
#titlePage h1 {
    border: 1px solid #272343;
    padding: 10px 30px 0px 30px;
    color: #272343;
    font-size: 60px;
    margin-bottom: 0px;
    font-weight: 400;
    font-style: normal;  
}

/*----------------------------*/

main {
    border-top: 30px solid #BAE8E8;
    border-bottom: 30px solid #BAE8E8;
}

/*----------------------------*/
.about-us {
    width: 90%;
    margin: 5% auto;
    padding: 10px 20px;
}
.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.bakery-img {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.bakery-img img {
    max-width: 100%;
    height: 80%;
    display: block;
    transition: 0.5s ease;
}
.bakery-img img:hover {
    transform: scale (1.2);
}
.bakery-desc {
    flex: 1;
}
.bakery-desc h2 {
    font-size: 23px;
    margin-bottom: 15px;
}
.bakery-desc p {
    font-size: 16px;
    line-height: 1.3;
}
.bakery-desc button {
    background-color: transparent;
    border: 1px solid #272343;
    font-size: 14px;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}
.bakery-desc button a {
    text-decoration: none;
    color: #272343;
    display: inline-block;
}
.bakery-desc button:hover {
    background-color: #BAE8E8;
    border: 1px solid white;
}

/*----------------------------*/

.meet-team {
    margin: 5% 0 0 0;
    padding: 4%;
    background-color: #BAE8E8;
}
.meet-team h2 {
    text-align: center;
}
.meet-team .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.meet-team .column {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}
.profile {
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}
.baker-info {
    padding: 0 16px;
}
.baker-info::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
.title {
    color: grey;
}

/*----------------------------*/

.purpose-section {
    padding: 0 5%;
    background-image: url(/about-page/images/purpose\ bg.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 30px solid #BAE8E8;
}

.mission {
    background-color: #FFFFFF;
    width: 45%;
    padding: 3%;
}
ul {
    list-style: disc;
}

/*----------------------------*/

#categories {
    margin: 0px;
    padding: 40px 80px 80px 80px;
    text-align: center;
    background-color: #E3F6F5;
}

#categories h2 {
    margin: 20px;
    padding: 10px;
}

#categories h4 {
    padding: 5px;
    margin: 5px;
}

#categories img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.category {
    display: inline-block;
    margin: 15px 10px;
    border: 1px solid #BAE8E8;
    background-color: #FFFFFF;
    padding: 0%;
    height: 338px ;
}

.category a {
    text-decoration: none;
    color: #272343;
}

.category:hover {
    background-color: #BAE8E8;
    color: #FFFFFF;
}

#categories .link {
    background-color: transparent;
    border: 1px solid #272343;
    font-size: 14px;
    padding: 20px;
    margin: 12px;
    text-decoration: none;
    color: #272343;
}

#categories .link:hover {
    background-color: white;
    border: 1px solid #272343;
}

/*----------------------------*/

.testimonial-section {
    margin: 2% 0;
    padding: 40px 60px;
    color: #272343;
    text-align: center;
}
.testimonial-section .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.testimonial-section .col {
    flex: 33.33%;
    max-width: 30%;
    box-sizing: border-box;
    padding: 15px;
    margin: 15px;
}
.review {
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.review img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.name {
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}
.stars {
    color: #BAE8E8;
    margin-bottom: 20px;

}

/*----------------------------*/



/*----------------------------*/

footer {
    margin: 0px;
    padding: 40px 80px 20px 0px;
    background-color: #E3F6F5;
    text-align: center;
}

.footerInfo {
    display: inline-block;
    margin: 0% 3%;
    width: 25%;
    vertical-align: top;
    text-align: left;
}
.footerInfo .socials {
    display: flex;
    justify-content: left;
    margin-top: 2px;
}
.socials a {
    color: #272343;
    border: 1px solid #272343;
    display: block;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
}
.socials a:hover {
    background-color: #272343;
    color: #FFFFFF;
}

.footerInfo a {
    text-decoration: none;
    color: #272343;
}

.footerInfo img {
    width: 70%;
    margin: 0%;
}

.copyright {
    margin: 60px 0px 0px 80px;
    text-align: left;
}

.copyright span {
    float: right;
}

/*----------------------------*/

@media screen  and (max-width: 768px){
    .about-us {
        padding: 0px;
    }
    .section {
        padding: 20px;
        flex-direction: column;
    }
    .bakery-img {
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .bakery-desc p {
        padding: 0px;
        font-size: 15px;
    }
    .bakery-desc button {
        font-size: 17px;
    }

    /*-----------------------------------*/

    .meet-team .column {
        flex: 100%;
        max-width: 75%;
    }

    /*-----------------------------------*/
    .testimonial-section .col {
        flex: 100%;
        max-width: 70%;
    }
}