
/*text import*/
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*page styling*/
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

/*----------------------------*/
/*CUSTOM SCROLLBAR*/

::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #BAE8E8; 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #BAE8e9; 
}

/*----------------------------*/

/*text styling*/

h1, h2 {
    font-family: "Homemade Apple", cursive;
}

h4, p, a, li {
    font-family: "Raleway", sans-serif;
}

/*----------------------------*/

/*header styling*/
header {
    margin: 0px;
    padding: 0px;
    background-image: url(/about-page/images/bg.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 60%;
}

/*navigation bar styling*/
.navigationBar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s;
}
/*mavigation scrolled styling*/
.navigationBar.scrolled {
    background-color: #FFFFFF;
}
nav {
    height: 60px;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #272343;
}
.selected {
    background-color: #BAE8E8;
}
.hover:hover {
    background-color: #272343;
    color: #FFFFFF;
}
nav .home-link {
    margin-right: auto;
}
nav svg {
    fill: #272343;
}
#sidebar-active {
    display: none;
}
.open-sidebar-button, .close-sidebar-button {
    display: none;
}
/*responsive nav bar styling*/
@media (max-width: 768px) {
    .links-container {
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: #BAE8E8;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2);
        transition: 0.5s ease-out;
    }
    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 15px 30px;
        justify-content: flex-start;
    }
    .open-sidebar-button, .close-sidebar-button {
        padding: 20px;
        display: block;
        cursor: pointer;
    }
    #sidebar-active:checked ~ .links-container {
        right: 0;
    }
    .selected {
        background-color: #FFFFFF;
    }
    #sidebar-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}

/*----------------------------*/

/*landing page styling*/
#titlePage {
    display: block; 
    text-align: center;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*scrolled landing page stylig*/
#titlePage.hidden {
    display: none; 
}
#titlePage h1 {
    border: 1px solid #272343;
    padding: 10px 30px 0px 30px;
    color: #272343;
    font-size: 60px;
    margin-bottom: 0px;
    font-weight: 400;
    font-style: normal;  
}
/*responsive landing page styling*/
@media screen  and (max-width: 768px){
    #titlePage h1 {
        color: #FFFFFF;
        font-size: 42px;
    }
}

/*----------------------------*/

/*main section styling*/
main {
    border-top: 30px solid #BAE8E8;
    border-bottom: 30px solid #BAE8E8;
}

/*----------------------------*/

/*about us section styling*/
.about-us {
    width: 90%;
    margin: 5% auto;
    padding: 10px 20px;
}
.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.bakery-img {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.bakery-img img {
    max-width: 100%;
    height: 80%;
    display: block;
    transition: 0.5s ease;
}
.bakery-img img:hover {
    transform: scale (1.2);
}
.bakery-desc {
    flex: 1;
}
.bakery-desc h2 {
    font-size: 23px;
    margin-bottom: 15px;
}
.bakery-desc p {
    font-size: 16px;
    line-height: 1.3;
}
/*button styling*/
.bakery-desc button {
    background-color: transparent;
    border: 1px solid #272343;
    font-size: 14px;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}
.bakery-desc button a {
    text-decoration: none;
    color: #272343;
    display: inline-block;
}
.bakery-desc button:hover {
    background-color: #BAE8E8;
    border: 1px solid white;
}
/*responsive about section styling*/
@media screen  and (max-width: 768px){
    .about-us {
        padding: 0px;
    }
    .section {
        padding: 20px;
        flex-direction: column;
    }
    .bakery-img {
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .bakery-desc p {
        padding: 0px;
        font-size: 15px;
    }
    .bakery-desc button {
        font-size: 17px;
    }
}

/*----------------------------*/

/*meet the team section styling*/
.meet-team {
    margin: 5% 0 0 0;
    padding: 4%;
    background-color: #BAE8E8;
}
.meet-team h2 {
    text-align: center;
}
.meet-team .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.column {
    flex: 1;
    margin: 10px;
    max-width: 300px;
}
/*flip card styling*/
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 400px;
    perspective: 1000px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 1px solid #f1f1f1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.flip-card-front {
    background-color: #bbb;
    color: black;
}
.flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.flip-card-back {
    background-color: #fff;
    color: black;
    transform: rotateY(180deg);
    padding: 20px;
}
.flip-card-back h4 {
    margin-top: 0;
}
.flip-card-back p {
    margin: 10px 0;
}
.title {
    font-style: oblique;
}
/*responsive meet the team section styling*/
@media screen  and (max-width: 768px){
    .meet-team .column {
        flex: 100%;
        max-width: 75%;
    }
    .flip-card {
        background-color: transparent;
        width: 100%;
        height: 250px;
    }

    .category-row {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
}


/*----------------------------*/

/*company purpose section*/
.purpose-section {
    padding: 0 5%;
    background-image: url(/about-page/images/purpose\ bg.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 30px solid #BAE8E8;
}
.mission {
    background-color: #FFFFFF;
    width: 45%;
    padding: 3%;
}
ul {
    list-style: disc;
}
li {
    font-style: oblique;
}
/*responsive company purpose section styling*/
@media screen  and (max-width: 768px){
    .mission {
        width: 60%;
    }
}

/*----------------------------*/

/*category section styling*/
#categories {
    margin: 0px;
    padding: 40px 80px 80px 80px;
    text-align: center;
    background-color: #E3F6F5;
}
#categories h2 {
    margin: 20px;
    padding: 10px;
}
#categories h4 {
    padding: 5px;
    margin: 5px;
}
#categories img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}
.category {
    display: inline-block;
    margin: 15px 10px;
    border: 1px solid #BAE8E8;
    background-color: #FFFFFF;
    padding: 0%;
    height: 338px ;
}
.category a {
    text-decoration: none;
    color: #272343;
}
.category:hover {
    background-color: #BAE8E8;
    color: #FFFFFF;
}
#categories .link {
    background-color: transparent;
    border: 1px solid #272343;
    font-size: 14px;
    padding: 20px;
    margin: 12px;
    text-decoration: none;
    color: #272343;
}
#categories .link:hover {
    background-color: white;
    border: 1px solid #272343;
}

/*----------------------------*/

/*testimonial section styling*/
.testimonial-section {
    margin: 2% 0;
    padding: 40px 60px;
    color: #272343;
    text-align: center;
}
.testimonial-section .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.testimonial-section .col {
    flex: 33.33%;
    max-width: 30%;
    box-sizing: border-box;
    padding: 15px;
    margin: 15px;
}
.review {
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.review img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.name {
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}
.stars {
    color: #BAE8E8;
    margin-bottom: 20px;

}
/*responsive testimonial section styling*/
@media screen  and (max-width: 768px){
    .testimonial-section .col {
        flex: 100%;
        max-width: 70%;
    }
}

/*----------------------------*/

/*footer styling*/
footer {
    margin: 0px;
    padding: 40px 80px 20px 0px;
    background-color: #E3F6F5;
    text-align: center;
}
.footerInfo {
    display: inline-block;
    margin: 0% 3%;
    width: 25%;
    vertical-align: top;
    text-align: left;
}
.footerInfo a {
    text-decoration: none;
    color: #272343;
}
.footerInfo img {
    width: 200px;
    margin: 0%;
}
/*social media icons styling*/
.footerInfo .socials {
    display: flex;
    justify-content: left;
    margin-top: 2px;
}
.footerInfo .socials a {
        border: 1px solid #FFFFFF;
        display: block;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        text-decoration: none;
    }
  
.footerInfo .socials a:hover {
        background-color: #FFFFFF;
}
.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rightcopy {
    margin-left: 40px ;
}
/*responsive footer styling*/
@media (max-width: 768px) {
    .footerInfo img {
            width: 80%;
    }
    .copyright p {
        font-size: 12px;
    }
    .footerInfo .socials a {
        border: none;
    }
}

/*----------------------------*/

