@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}


/*---------------------------------------*/

.navigationBar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s;
    text-align: center;
}
nav {
    list-style-type: none;
    padding: 0px 30px 0px 10px;
    overflow: hidden;
    background:none;
}
nav #left {
    margin: 0px 20px;
    padding: 0px;
}
nav a img {
    width: 80px;
}

/*---------------------------------------*/

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #BAE8E8;
    padding: 30px;
    min-height: 100vh;
}

/*---------------------------------------*/
.container {
    position: relative;
    max-width: 850px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    perspective: 2700px;
}

.container .cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}
.container .cover::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #BAE8E8;
    opacity: 0.5;
    z-index: 100;
}
.container .cover::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #BAE8E8;
    opacity: 0.5;
    z-index: 100;
    transform: rotateY(180deg);
}

.container #flip:checked ~ .cover {
    transform: rotateY(-180deg);
}

.container .cover img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 12;
    backface-visibility: hidden;
}

/*---------------------------------------*/

.container form {
    height: 100%;
    width: 100%;
    background: #fff;
}
.container, .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-content .login-form, .form-content .signup-form {
    width: calc(100% / 2 - 25px);
}

form .form-content .title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #272343;
}

form .form-content .title:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 20px;
    background: #BAE8E8;
}

form .form-content .input-form {
    margin-top: 30px ;
}

form .form-content .input-box {
    display: flex; 
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.form-content .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.form-content .input-box input:focus, 
.form-content .input-box input:valid {
    border-color: #BAE8E8;
}

.form-content .input-box i {
    position: absolute;
    color: #BAE8E8;
    font-size: 17px;
}

form .form-content .text {
    font-size: 14px;
    font-weight: 500;
    color: #272343;
}

form .form-content .text a {
    text-decoration: none;
    color: #2D9596;
}
form .form-content .text a:hover {
    text-decoration: underline;
}

form .form-content .button {
    color: #272343;
    margin-top: 40px;
}

form .form-content .button input {
    color: #272343;
    background: #BAE8E8;
    border-radius: 2px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}
form .form-content .button input:hover {
    background: #E3F6F5;
} 

form .form-content label {
    color: #2D9596;
    cursor: pointer;
}
form .form-content label:hover {
    text-decoration: underline;
}

form .form-content .login-text,
form .form-content .sign-up-text {
    text-align: center;
    margin-top: 25px;
}
.container #flip {
    display: none;
}

/*---------------------------------------*/

@media (max-width: 768px) {
    .container .cover {
        display: none;
    }
    .form-content .login-form, .form-content .signup-form {
        width: 100%;
    }
    .form-content .signup-form {
        display: none;
    }
    .container #flip:checked ~ form .signup-form {
        display: block ;
    }
    .container #flip:checked ~ form .login-form {
        display: none ;
    }
}